body {
  background: black;
  color: white;
}

header {
  background: green;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row {
  width: 100%;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
